@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}


@keyframes slide-top {
  from {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(5px);
  }
}

@keyframes rotateY {
  0% {
    transform:
    rotateY(0deg);
  } 

  100% {
    transform: 
    rotateY(360deg);
  }
}


@keyframes shake {

	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
		border-color: var(--accent_cl);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
		border-color: var(--accent_cl);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
		border-color: var(--accent_cl);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}