ul {
  @include margin(0, 0, 0, 0);
  @include padding(0, 0, 0, 0);

  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
p {
  @include margin(0, 0, 0, 0);
}
