@charset "UTF-8";
/* ---------------------------------- Utils --------------------------------- */ /* --------------------------------- Fonts --------------------------------- */
/* -------------------------------------------------------------------------- */
/* --------------------------------- Кольори -------------------------------- */
@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --white_cl: #ffffff;
  --txt-light_cl: #907e82;
  --accent_cl: #d41443;
  --accent-dark_cl: #d41342;
  --accent-light_cl: #ffa5ba;
  --mobile-menu-bg: #e17992;
  --social-links-bg_cl: #fea5bb;
  --product-one_cl: #ffb8ca;
  --product-two_cl: #f0d1a5;
  --product-tree_cl: #c2e297;
  --bg-light_cl: #fff5f6;
  --btn-hover_cl: #ecebeb;
}

/* ------------------ Size cards ----------------- */
/* -------------------------------- Margin -------------------------------- */
/* -------------------------------- Padding -------------------------------- */
/*прихований заголовок*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---------------------------------- Base ---------------------------------- */
body {
  font-family: "DM Sans", sans-serif;
}

ul {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

@-webkit-keyframes swing {
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
/* ------------------------------- Components ------------------------------- */
.container {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
}
@media screen and (max-width: 767px) {
  .container {
    min-width: 320px;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 120px;
  }
}

/* --------------------------------- Titles --------------------------------- */
.section-uppertitle,
.section-title,
.section-subtitle {
  font-family: "Titan One", cursive;
  text-transform: uppercase;
}

.section-uppertitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0;
  color: var(--accent-light_cl);
}
@media screen and (min-width: 768px) {
  .section-uppertitle {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
}

.section-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: var(--white_cl);
}

@media screen and (min-width: 1200px) {
  .section-uppertitle,
.section-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.section-title {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: var(--accent_cl);
}
@media screen and (min-width: 768px) {
  .section-title {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }
}

/* --------------------------------- Layouts -------------------------------- */
@media screen and (max-width: 1199px) {
  .off_overflow {
    overflow: hidden;
  }
}

.page-header {
  padding: 8px 0;
  position: relative;
}
@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 32px;
    padding-bottom: 0;
    display: flex;
  }
}

.page-header__menu-toggler {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 33px;
  right: 6px;
}
@media screen and (min-width: 768px) {
  .page-header__menu-toggler {
    top: 53px;
    right: 198px;
  }
  .page-header__menu-toggler.is-open {
    top: 26px;
    right: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__menu-toggler {
    display: none;
  }
}

.page-header__menu-toggler .page-header__icon-open {
  opacity: 1;
  position: absolute;
  top: -6px;
  right: -6px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__menu-toggler .page-header__icon-close {
  opacity: 0;
  position: absolute;
  top: -6px;
  right: -6px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__menu-toggler.is-open .page-header__icon-open {
  opacity: 0;
}

.page-header__menu-toggler.is-open .page-header__icon-close {
  opacity: 1;
}

.page-header__icon--ml {
  margin-left: 27px;
}
@media screen and (min-width: 768px) {
  .menu-container.is-closed .page-header__icon--ml {
    margin-left: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__icon--ml {
    margin-left: 13px;
  }
}

@media screen and (max-width: 1199px) {
  .menu-container {
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: var(--mobile-menu-bg);
    padding: 60px 0;
    transform: translateX(20px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .menu-container.is-closed {
    transform: translateX(calc(100% + 20px));
  }
}

@media screen and (max-width: 1199px) {
  .navigation {
    margin-top: 19px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation ul {
    display: flex;
  }
}

.navigation__link {
  padding: 12px 18px;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--white_cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .navigation__link {
    border: 1px solid #E18298;
    display: block;
    padding-left: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__link {
    font-size: 16px;
    line-height: 21px;
  }
}
.navigation__link:hover {
  color: var(--accent_cl);
}

.page-header__button-buy {
  border: none;
  border-radius: 22px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  margin: 0 20px;
  padding: 12px 48px 12px 61px;
  color: var(--accent_cl);
  transform: translate(0);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__button-buy {
    margin: 0 34px;
    padding: 12px 43px;
  }
  .menu-container.is-closed .page-header__button-buy {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-226px, -28px);
    padding: 12px 37px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__button-buy {
    margin: 0 0 0 123;
    padding: 11px 37px;
    font-size: 16px;
    line-height: 21px;
    transform: translate(0);
  }
}

.hero {
  background-color: var(--product-one_cl);
  overflow: hidden;
}

.hero__icecream-img {
  display: block;
  width: 171px;
}
@media screen and (min-width: 768px) {
  .hero__icecream-img {
    width: 143px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__icecream-img {
    width: 236px;
  }
}

.hero__description-img {
  display: block;
  width: 152px;
}
@media screen and (min-width: 1200px) {
  .hero__description-img {
    width: 213px;
  }
}

.hero__girl-img {
  display: block;
  width: 190px;
}
@media screen and (min-width: 1200px) {
  .hero__girl-img {
    width: 304px;
  }
}

.about {
  background-color: var(--bg-light_cl);
}
@media screen and (min-width: 1200px) {
  .about {
    background-image: url("../images/about-bg/sectionbg-desc.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 80%;
  }
}
@media screen and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .about {
    background-image: url("../images/about-bg/sectionbg-desc@2x.png");
  }
}
@media screen and (max-width: 1199px) {
  .about {
    background-image: none;
  }
}

.about__text-title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
}
@media screen and (min-width: 768px) {
  .about__text-title {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text-title {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
}

.about__text {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: var(--txt-light_cl);
}
@media screen and (min-width: 768px) {
  .about__text {
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    font-size: 14px;
    line-height: 1.94;
  }
}

.about__btn {
  width: 176px;
  height: 44px;
  border: none;
  border-radius: 22px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent_cl);
  background-color: var(--white_cl);
}
.about__btn .btn-icon {
  margin-left: 14px;
  --color1: currentColor;
}
@media screen and (min-width: 768px) {
  .about__btn {
    font-size: 16px;
    line-height: 1.3;
  }
}

.about__text-title::before {
  display: block;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .about__text-title::before {
    width: 280px;
    height: 279px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    background-image: url("../images/about-cow/cow-mob.png");
  }
}
@media screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .about__text-title::before {
    background-image: url("../images/about-cow/cow-mob@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .about__text-title::before {
    background-image: none;
  }
}

.about__text-thumb {
  padding-right: 60px;
}
@media screen and (max-width: 767px) {
  .about__text-thumb {
    background-image: url("../images/about-bg/sectionbg-mob.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 80%;
  }
}
@media screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .about__text-thumb {
    background-image: url("../images/about-bg/sectionbg-mob@2x.png");
  }
}

.about__uppertitle, .about__title {
  text-align: center;
}

.about__uppertitle {
  margin-bottom: 15px;
}

.about__title {
  margin-bottom: 32px;
}

.gallery__grid {
  height: 100%;
  width: 100%;
  padding-top: 60px;
  display: grid;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .gallery__grid {
    grid-gap: 2px;
    grid: repeat(30, 2.6px)/repeat(70, 2.6px);
    background-image: linear-gradient(to bottom, var(--bg-light_cl) 47%, var(--white_cl) 47%, var(--white_cl) 100%);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery__grid {
    grid-gap: 5px;
    grid: repeat(30, 6px)/repeat(70, 6px);
    background-image: linear-gradient(to bottom, var(--bg-light_cl) 36%, var(--white_cl) 36%, var(--white_cl) 100%);
  }
}
@media screen and (min-width: 1200px) {
  .gallery__grid {
    grid-gap: 8px;
    grid: repeat(30, 6.6px)/repeat(70, 6.6px);
    background-image: linear-gradient(to bottom, var(--bg-light_cl) 33%, var(--white_cl) 33%, var(--white_cl) 100%);
  }
}

.gallery__photo {
  overflow: hidden;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .gallery__photo {
    border-radius: 8px;
  }
}
.gallery__photo:nth-child(1) {
  grid-area: 11/1/span 10/span 10;
}
.gallery__photo:nth-child(2) {
  grid-area: 7/11/span 10/span 10;
}
.gallery__photo:nth-child(3) {
  grid-area: 17/11/span 10/span 10;
}
.gallery__photo:nth-child(4) {
  grid-area: 1/21/span 20/span 20;
}
.gallery__photo:nth-child(5) {
  grid-area: 21/21/span 10/span 10;
}
.gallery__photo:nth-child(6) {
  grid-area: 8/41/span 10/span 10;
}
.gallery__photo:nth-child(7) {
  grid-area: 18/41/span 10/span 10;
}
.gallery__photo:nth-child(8) {
  grid-area: 6/51/span 10/span 10;
}
.gallery__photo:nth-child(9) {
  grid-area: 16/51/span 10/span 10;
}
.gallery__photo:nth-child(10) {
  grid-area: 12/61/span 10/span 10;
}

.customer-reviews__list {
  position: relative;
}

.customer-reviews__item::before {
  content: "";
  position: absolute;
  top: 147px;
  left: 53px;
  z-index: 1;
  display: inline-block;
  width: 54px;
  height: 40px;
  background-image: url(../images/review/quote.png);
  background-repeat: no-repeat;
}

.customer-reviews__wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  overflow: hidden;
}

.customer-reviews__group {
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  max-width: 157px;
  text-align: center;
}

.customer-reviews__feedback {
  margin-bottom: 62px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  letter-spacing: 0;
}

.customer-reviews__location {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0;
}

.card-list {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-bottom: 32px;
}

.card {
  width: 280px;
  padding: 40px 32px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.card__name,
.card__time,
.card__sity,
.card__day {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
}

.card__name {
  height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}
.card__name--cafe {
  background-color: #f0d1a5;
  width: 80px;
}
.card__name--foodtruck {
  background-color: #c2e297;
  width: 130px;
}

.card__location {
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.card__sity {
  margin-bottom: 8px;
}

.card__text,
.card__phone,
.card__mail {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #907e82;
  text-decoration: none;
}

.card__timetable {
  padding-top: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e1e1e1;
}

.card__time {
  color: #ffa5ba;
  display: block;
  margin-bottom: 8px;
}

.card__contact {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.button-section {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

/* --------------------------------- Footer --------------------------------- */
.footer {
  position: relative;
  padding: 20px 0 5px 0;
  background-color: var(--bg-light_cl);
}
.footer::before {
  content: " ";
  position: absolute;
  bottom: 61px;
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
}
@media screen and (min-width: 768px) {
  .footer::before {
    bottom: 42px;
  }
}
@media screen and (min-width: 1200px) {
  .footer::before {
    left: 50%;
    bottom: 37px;
    width: 1167px;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 767.5px) {
  .footer__wrapper {
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrapper {
    margin-bottom: 67px;
  }
}

.footer__group-titles {
  max-width: 234px;
}
@media screen and (max-width: 767.5px) {
  .footer__group-titles {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .footer__group-titles {
    max-width: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__group-titles {
    max-width: 477px;
  }
}

.footer__uppertitle {
  margin-bottom: 12px;
}
@media screen and (max-width: 767.5px), (min-width: 1200px) {
  .footer__uppertitle {
    margin-bottom: 16px;
  }
}

.footer__group-links {
  margin-left: auto;
  max-width: 230px;
}
@media screen and (min-width: 768px) {
  .footer__group-links {
    max-width: 268px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__group-links {
    max-width: 319px;
  }
}

.footer__list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.footer__item:nth-child(n+2) {
  margin-left: 30px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--social-links-bg_cl);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--accent_cl);
  -webkit-animation: swing 1s ease;
          animation: swing 1s ease;
}
@media screen and (min-width: 768px) {
  .footer__social-link {
    width: 34px;
    height: 34px;
  }
}

.footer__icon {
  fill: var(--white_cl);
}

.footer__contact {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contact {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0;
  }
}

.footer__contact-link {
  color: var(--accent_cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact-link:hover, .footer__contact-link:focus {
  color: var(--txt-light_cl);
}

.footer__copyright {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0;
  color: var(--txt-light_cl);
}
@media screen and (max-width: 767.5px) {
  .footer__copyright {
    width: 138px;
  }
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    text-align: center;
  }
}/*# sourceMappingURL=index.css.map */