/* --------------------------------- Fonts --------------------------------- */
$main-font: 'DM Sans', sans-serif;
$secondary-font: 'Titan One', cursive;
/* -------------------------------------------------------------------------- */

$animation-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$anim-slow-one: 350ms cubic-bezier(0.4, 0, 0.2, 1);
$anim-slow: 600ms ease-in-out;
$hero-anim-time: 0.8s;
$hero-anim-delay: 0.2s;

/* --------------------------------- Кольори -------------------------------- */
:root {
  --white_cl: #ffffff;
  --txt-light_cl: #907e82;

  --accent_cl: #d41443;
  --accent-dark_cl: #d41342;
  --accent-light_cl: #ffa5ba;

  --mobile-menu-bg: #e17992;
  --social-links-bg_cl: #fea5bb;

  --product-one_cl: #ffb8ca;
  --product-two_cl: #f0d1a5;
  --product-tree_cl: #c2e297;

  --bg-light_cl: #fff5f6;
  --btn-hover_cl: #ecebeb;


  --overlay-gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  --dark-bg: #00000033;

}
