<section class="section about" id="how-its-made">
  <div class="container about__container">

    <!-- Titles -->
    <p class="section-uppertitle about__uppertitle">tradition and love</p>
    <h2 class="section-title about__title">how it’s made?</h2>

    <div class="about__text-thumb">

      <p class="about__text-title">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
        cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
        justo fringilla.
      </p>

      <p class="text about__text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
        suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
        tincidunt.
      </p>

      <p class="text about__text about__text-more">
        Aliquam erat volutpat. Aenean accumsan.
        <span class="about__more-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
          obcaecati quos possimus dolores, quisquam id rem, accusamus tenetur
          nostrum pariatur consequatur incidunt ipsum!
        </span>
      </p>

      <!-- Button read more/less -->
      <button class="about__btn btn btn--light-mode" type="button">
        Read more
        <svg class="btn-icon" width="8" height="10">
          <use href="./images/icons.svg#arrow-bracket"></use>
        </svg>
      </button>

    </div>

  </div>
</section>