<section class="contacts">
    <div class="container">
        <ul cass="card-list">
            <li class="card">
                <h3 class="card__name">CAFE</h3>
                <div class="Card__location">
                    <p class="card__sity">Chicago</p>
                    <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="card__timetable">
                    <p class="card__day">Monday - Friday</p>
                    <p class="card__time"><time datetime="06:00">06:00</time> AM <time datetime="22:00">10:00</time> PM
                    </p>
                    <p class="card__day">Saturday - Sunday</p>
                    <p class="card__time"><time datetime="08:00">08:00</time> AM <time datetime="16:00">04:00</time> PM
                    </p>
                </div>
                <div class="card__contact">
                    <a class="ccard__contact-phone" href="tel:+610383766284" target="_blank" rel="noreferrer noopener"
                        aria-label="Phone number">+61(0) 383 766 284</a>
                    <a class="card__contact-mail" href="mailto:noreply@envato.com" target="_blank"
                        rel="noreferrer noopener" aria-label="E-mail address">noreply@envato.com</a>
                </div>
            <li class="card">
                <h3 class="card__name">FOOD TRUCK</h3>
                <div class="Card__location">
                    <p class="card__sity">Los Angeles</p>
                    <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="card__timetable">
                    <p class="card__day">Monday - Friday</p>
                    <p class="card__time"><time datetime="06:00">06:00</time> AM <time datetime="22:00">10:00</time> PM
                    </p>
                    <p class="card__day">Saturday - Sunday</p>
                    <p class="card__time"><time datetime="08:00">08:00</time> AM <time datetime="16:00">04:00</time> PM
                    </p>
                </div>
                <div class="card__contact">
                    <a class="ccard__contact-phone" href="tel:+610383766284" target="_blank" rel="noreferrer noopener"
                        aria-label="Phone number">+61(0) 383 766 284</a>
                    <a class="card__contact-mail" href="mailto:noreply@envato.com" target="_blank"
                        rel="noreferrer noopener" aria-label="E-mail address">noreply@envato.com</a>
                </div>
            </li>
            <li class="card">
                <h3 class="card__name">CAFE</h3>
                <div class="Card__location">
                    <p class="card__sity">New York</p>
                    <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="card__timetable">
                    <p class="card__day">Monday - Friday</p>
                    <p class="card__time"><time datetime="06:00">06:00</time> AM <time datetime="22:00">10:00</time> PM
                    </p>
                    <p class="card__day">Saturday - Sunday</p>
                    <p class="card__time"><time datetime="08:00">08:00</time> AM <time datetime="16:00">04:00</time> PM
                    </p>
                </div>
                <div class="card__contact">
                    <a class="ccard__contact-phone" href="tel:+610383766284" target="_blank" rel="noreferrer noopener"
                        aria-label="Phone number">+61(0) 383 766 284</a>
                    <a class="card__contact-mail" href="mailto:noreply@envato.com" target="_blank"
                        rel="noreferrer noopener" aria-label="E-mail address">noreply@envato.com</a>
                </div>
            </li>
        </ul>
        <ul class="button">
            <li class="button-section"><button class="btn btn--select" type="button">Our Locations
                    <svg class="btn__icon" width="4.43px" height="8px">
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg></button></li>
            <li class="button-section"><button class="btn" type="button">Franchise
                    <svg class="btn__icon" width="4.43px" height="8px">
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg></button></li>

        </ul>
    </div>
</section>