<section class="section customer-reviews">

  <div class="container">

    <!-- Hidden header -->
    <h2 hidden class="section-title">Customer reviews</h2>

    <!-- Customer reviews list -->
    <ul class="customer-reviews__list">
      <li class="customer-reviews__item">

        <!-- Photo -->
        <div class="customer-reviews__wrapper">
          <picture>

            <!-- webp -->
            <source srcset="
                ../src/images/review/customer1.webp    1x,
                ../src/images/review/customer1@2x.webp 2x
              " type="image/webp" />

            <!-- jpeg -->
            <source srcset="
                ../src/images/review/customer1.jpg    1x,
                ../src/images/review/customer1@2x.jpg 2x
              " />
            <img class="img" src="../src/images/review/customer1.jpg" alt="Photo of customer" width="85" height="85" />
          </picture>
        </div>

        <!-- Feedback -->
        <div class="customer-reviews__group">
          <p class="customer-reviews__feedback">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>

          <p class="customer-reviews__location">
            Emily, Los Angeles
          </p>
        </div>
      </li>

      <li class="customer-reviews__item">

        <!-- Photo -->
        <div class="customer-reviews__wrapper">
          <picture>

            <!-- webp -->
            <source srcset="
                ../src/images/review/customer2.webp    1x,
                ../src/images/review/customer2@2x.webp 2x
              " type="image/webp" />

            <!-- jpeg -->
            <source srcset="
                ../src/images/review/customer2.jpg    1x,
                ../src/images/review/customer2@2x.jpg 2x
              " />
            <img class="img" src="../src/images/review/customer2.jpg" alt="Photo of customer" width="85" height="85" />
          </picture>
        </div>

        <!-- Feedback -->
        <div class="customer-reviews__group">
          <p class="customer-reviews__feedback">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>

          <p class="customer-reviews__location">
            Jessica, Chicago
          </p>
        </div>
      </li>

      <li class="customer-reviews__item">

        <!-- Photo -->
        <div class="customer-reviews__wrapper">
          <picture>

            <!-- webp -->
            <source srcset="
                ../src/images/review/customer3.webp    1x,
                ../src/images/review/customer3@2x.webp 2x
              " type="image/webp" />

            <!-- jpeg -->
            <source srcset="
                ../src/images/review/customer3.jpg    1x,
                ../src/images/review/customer3@2x.jpg 2x
              " />
            <img class="img" src="../src/images/review/customer3.jpg" alt="Photo of customer" width="85" height="85" />
          </picture>
        </div>

        <!-- Feedback -->
        <div class="customer-reviews__group">
          <p class="customer-reviews__feedback">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>

          <p class="customer-reviews__location">
            Yana, Kyiv
          </p>
        </div>
      </li>
    </ul>

  </div>
</section>