<!-- ------------------------------- Footer -------------------------------- -->
<section class="footer">
    <div class="container">

        <div class="footer__wrapper">

            <!-- Titles -->
            <div class="footer__group-titles">
                <p class="section-uppertitle footer__uppertitle">homemade ice cream made</p>
                <h2 class="section-title">with passion</h2>
            </div>

            <div class="footer__group-links">

                <!-- Social list -->
                <ul class="footer__list">

                    <li class="footer__item">
                        <a class="footer__social-link" href="https://github.com/" target="_blank"
                            rel="noreferrer noopener" aria-label="GitHub">
                            <svg class="footer__icon" width="20" height="20">
                                <use href="./images/icons.svg#github"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__social-link" href="https://web.telegram.org/k/" target="_blank"
                            rel="noreferrer noopener" aria-label="Telegram">
                            <svg class="footer__icon" width="20" height="20">
                                <use href="./images/icons.svg#telegram"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__social-link" href="https://www.facebook.com/" target="_blank"
                            rel="noreferrer noopener" aria-label="Facebook">
                            <svg class="footer__icon" width="20" height="20">
                                <use href="./images/icons.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>

                <p class="footer__contact">
                    Feel free to contact
                    <a class="footer__contact-link" href="tel:+610383766284" target="_blank" rel="noreferrer noopener"
                        aria-label="Phone number">
                        +61 (0) 383 766 284
                    </a>
                </p>
            </div>

        </div>

        <!-- Copyright -->
        <p class="footer__copyright">
            © 2022 - IceCream. All Rights Reserved.
        </p>

        <!-- Button for scroll to top -->
        <a class="btn-scroll-top scroll-to" href="#hero-header">
            <svg class="btn-scroll-top__icon" width="20" height="20">
                <use href="./images/icons.svg#arrow-right"></use>
            </svg>
        </a>
    </div>

</section>