<section class="products">
    <div class="products__container container">
        <label class="products__section-uppertitle section-uppertitle">100% natural</label>
        <h2 class="products__section-title section-title">products</h2>

        <ul class="products__list">
    <li class="products__item">
            <div class="products__block-ice">
                <h3 class="products__section-subtitle section-subtitle">ice cream</h3>
                <p class="products__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                <button class="products__btn">
                    <svg class="producst__btn-svg" width="20" height="20">
                        <use  class="products__btn-use" href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </button>
            </div> 
    </li>

     <li class="products__item">
        <div class="products__block-coffee">
            <h3 class="products__section-subtitle section-subtitle">ice coffee</h3>
            <p class="products__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
            <button class="products__btn">
                <svg class="producst__btn-svg" width="20" height="20">
                    <use  class="products__btn-use" href="./images/icons.svg#arrow-right"></use>
                </svg>
            </button>
        </div> 
     </li>

  <li class="products__item">
            <div class="products__block-milkshake">
                <h3 class="products__section-subtitle section-subtitle">milkshakes</h3>
                <p class="products__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                <button class="products__btn">
                    <svg class="producst__btn-svg" width="20" height="20">
                        <use  class="products__btn-use" href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </button>
            </div> 
 </li>
</div>
</section>