<section class="products" id="products">
	<div class="products__container container">
		<label class="products__section-uppertitle section-uppertitle">100% natural</label>
		<h2 class="products__section-title section-title">products</h2>

		<ul class="products__list">
			<li class="products__item">
				<div class="products__animation-ice"></div>
				<div class="products__block-ice">
					<h3 class="products__section-subtitle section-subtitle">ice cream</h3>
					<ul class="products__slider show-first" data-product-slides-1>
						<li class="products__paragraph products__paragraph--first">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et.
						</li>
						<li class="products__paragraph products__paragraph--two">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et.
						</li>
						<li class="products__paragraph products__paragraph--three">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et.
						</li>
					</ul>
					<button type="button" class="products__btn" data-product-toggle-1>
						<svg class="producst__btn-svg" width="20" height="20">
							<use class="products__btn-use" href="./images/icons.svg#arrow-right"></use>
						</svg>
					</button>
				</div>
			</li>

			<li class="products__item">
				<div class="products__animation-coffee"></div>
				<div class="products__block-coffee">
					<h3 class="products__section-subtitle section-subtitle">ice coffee</h3>
					<ul class="products__slider show-first" data-product-slides-2>
						<li class="products__paragraph products__paragraph--first">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et.
						</li>
						<li class="products__paragraph products__paragraph--two">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et.
						</li>
						<li class="products__paragraph products__paragraph--three">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et.
						</li>
					</ul>
					<button type="button" class="products__btn" data-product-toggle-2>
						<svg class="producst__btn-svg" width="20" height="20">
							<use class="products__btn-use" href="./images/icons.svg#arrow-right"></use>
						</svg>
					</button>
				</div>
			</li>

			<li class="products__item">
				<div class="products__animation-milkshake"></div>
				<div class="products__block-milkshake">
					<h3 class="products__section-subtitle section-subtitle">milkshakes</h3>
					<ul class="products__slider show-first" data-product-slides-3>
						<li class="products__paragraph products__paragraph--first">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et.
						</li>
						<li class="products__paragraph products__paragraph--two">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et.
						</li>
						<li class="products__paragraph products__paragraph--three">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et.
						</li>
					</ul>
					<button type="button" class="products__btn" data-product-toggle-3>
						<svg class="producst__btn-svg" width="20" height="20">
							<use class="products__btn-use" href="./images/icons.svg#arrow-right"></use>
						</svg>
					</button>
				</div>
			</li>
		</ul>
	</div>
</section>

