.scroll-to-top {
  position: fixed;
  bottom: 90px;
  right: 30px;

  width: 50px;
  height: 50px;
  z-index: 4;

  background-color: var(--accent_cl);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 12px #f30c46;

  visibility: hidden;
  opacity: 0;

  animation: slide-top 1s linear 2s infinite alternate both;
  transition: 
    background-color $animation-func, 
    opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #f30c46;
  }

  &.is-hidden {
    visibility: visible;
    opacity: 1;
  }
}

.arrow-top {
  fill: #fff;
  margin: 15px 15px;
  transform: rotate(-90deg);
}
