// --------------кнопка перемикання мобільного меню--------------//
.page-header__menu-toggler {
	position: absolute;
	top: 33px;
	right: 16px;
	z-index: 3;

	background-color: transparent;

	border: none;
	cursor: pointer;

	&.is-open {
		z-index: 10;
	}

	@media screen and (min-width:768px) {
		top: 53px;
		right: 208px;

		&.is-open {
			position: fixed;
			top: 26px;
			right: 16px;
		}
	}

	@media screen and (min-width: 1200px) {
		display: none;
	}
}

.page-header__menu-toggler .page-header__icon-open {
	position: absolute;
	top: -6px;
	right: -6px;

	opacity: 1;
	transition: opacity $animation-func;
}


.page-header__menu-toggler .page-header__icon-close {
	position: absolute;
	top: -6px;
	right: -6px;

	opacity: 0;
	transition: opacity $animation-func;
}

.page-header__menu-toggler.is-open .page-header__icon-open {
	opacity: 0;
}

.page-header__menu-toggler.is-open .page-header__icon-close {
	opacity: 1;
}

// --------------контейнер мобільного меню--------------//
.menu-container {
	@media screen and (max-width:1199px) {
		position: fixed;
		top: 0;
		right: 20px;
		z-index: 9;
		padding: 60px 0;
		
		height: 100vh;
		
		background-color: var(--mobile-menu-bg);
		
		transform: translateX(20px);
		transition: transform $animation-func, background-color $animation-func;
	}

	@media screen and (min-width:1200px) {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		margin-left: auto;
	}

	&.is-closed {
		@media screen and (max-width:767px){
			overflow: hidden;
		}
		@media screen and (max-width:1199px) {
			position: absolute;
			right: -10px;

			background-color: transparent;

			transform: translateX(calc(100% + 20px));
			transition: transform $animation-func, background-color $animation-func;

			& .navigation {
				opacity: 0;
			}
		}
	}
}

.page-header__button-buy {
	display: flex;
	align-items: center;
	margin: 0 20px;
	padding: 12px 48px 12px 61px;

	font-weight: 700;
	font-size: 16px;
	line-height: 21px;

	transform: translate(0);
	transition: transform $animation-func, opacity $animation-func, color $animation-func, background-color $animation-func;
	
	@media screen and (max-width:767.5px) {
			.menu-container.is-closed & {
				opacity: 0;
			}
		}
	
	@media screen and (min-width:768px) and (max-width:1199.5px) {
		margin: 0 34px;
		padding: 12px 43px;

		.menu-container.is-closed & {
			padding: 12px 37px;

			transition: transform $animation-func, opacity $animation-func,
				color $animation-func,
				background-color $animation-func;
			transform: translate(-248px, -27px);
		}
	}

	@media screen and (min-width: 1200px) {
		z-index: 5;
		margin: 0 0 0 123;
		padding: 11px 37px;

		font-size: 16px;
		line-height: 21px;
		
		transform: translate(0);
	}
}