.page-header {
	padding: 8px 0;
	overflow-x: clip;
	@media screen and (min-width:768px) {
		padding-top: 32px;
	}

	@media screen and (min-width: 1200px) {
		padding-top: 32px;
		padding-bottom: 0;
		display: flex;
	}

	position: relative;
}

.page-heading {
	color: var(--white_cl);
	font-family: $secondary-font;
	font-size: 26px;
	line-height: 30px;
	letter-spacing: 0.04em;
	margin-top: 52px;
	position: relative;
	z-index: 4;

	@media screen and (min-width:768px) {
		font-size: 22px;
		line-height: 25px;
		margin-top: 12px;
	}

	@media screen and (min-width: 1200px) {
		font-size: 38px;
		line-height: 44px;
		margin-top: 52px;
	}
}

.page-heading__sub-text {
	color: var(--accent_cl);
	font-size: 48px;
	line-height: 90.5%;

	@media screen and (min-width:768px) {
		font-size: 34px;
	}

	@media screen and (min-width: 1200px) {
		font-size: 58px;
	}
}

// --------------клас-модифікатор для кнопки в header--------------//
.page-header__icon--ml {
	margin-left: 27px;

	@media screen and (min-width:768px) {
		.menu-container.is-closed & {
			margin-left: 13px;
		}
	}

	@media screen and (min-width:1200px) {
		margin-left: 13px;
	}
}