.about {
  background-color: var(--bg-light_cl);

  @media screen and (max-width: 1199.5px) {
    background-image: none;
  }

  @media screen and (min-width: 1200px) {
    position: relative;

    background-image: url('../images/about-bg/sectionbg-desc.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 110%;
    background-size: 100%;
  }

  @media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 2dppx) {
    background-image: url('../images/about-bg/sectionbg-desc@2x.png');
  }
}

.about__container {
  position: relative;
}

.about__text-title {
  margin-bottom: 40px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
}

.about__text {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  color: var(--txt-light_cl);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.94;
  }
}

.about__more-text {
  display: none;
}

.about__text.show-more .about__more-text {
  display: inline;
}

.about__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  width: 176px;

  font-weight: 700;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.3;
    margin-top: 30px;
  }
}

.btn-icon {
  margin-left: 14px;
  --color1: currentColor;
}

.about__text-title::before {
  content: '';
  display: block;

  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (max-width: 767.5px) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    width: 280px;
    height: 279px;

    background-image: url('../images/about-cow/cow-mob.png');
  }

  @media screen and (max-width: 767.5px) and (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 2dppx) {
    background-image: url('../images/about-cow/cow-mob@2x.png');
  }

  @media screen and (min-width: 768px) and (max-width: 1199.5px) {
    position: absolute;
    left: 32px;

    width: 336px;
    height: 335px;

    background-image: url('../images/about-cow/cow-tab.png');
  }

  @media screen and (min-width: 768px) and (max-width: 1199.5px) and (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 2dppx) {
    background-image: url('../images/about-cow/cow-tab@2x.png');
  }

  @media screen and (min-width: 1200px) {
    position: absolute;
    left: 12px;
    bottom: -60px;

    width: 501px;
    height: 501px;

    background-image: url('../images/about-cow/cow-desc.png');
  }

  @media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 2dppx) {
    background-image: url('../images/about-cow/cow-desc@2x.png');
  }
}

.about__text-thumb {
  padding-right: 60px;

  @media screen and (max-width: 767.5px) {
    background-image: url('../images/about-bg/sectionbg-mob.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 70%;
  }

  @media screen and (max-width: 767.5px) and (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 2dppx) {
    background-image: url('../images/about-bg/sectionbg-mob@2x.png');
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: auto;
    padding-right: 0px;

    width: 334px;

    background-image: none;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 105px;
    margin-top: 150px;

    width: 463px;
  }
}

.about__uppertitle,
.about__title {
  text-align: center;
}

.about__uppertitle {
  margin-bottom: 15px;
}

.about__title {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) and (max-width: 1199.5px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}
