// Customer reviews list
.customer-reviews__list {
  display: flex;
  justify-content: center;
}

.customer-reviews__wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;

  width: 85px;
  height: 85px;

  border-radius: 50%;
  overflow: hidden;

  // Tablet
  @media screen and (min-width: 768px) {
    margin-bottom: 57px;
  }

  // PC
  @media screen and (min-width: 1200px) {
    margin-bottom: 63px;
  }
}

.customer-reviews__group {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  max-width: 157px;

  text-align: center;

  // Tablet
  @media screen and (min-width: 768px) {
    max-width: 514px;
  }

  // PC
  @media screen and (min-width: 1200px) {
    max-width: 750px;
  }
}

.customer-reviews__feedback {
  margin-bottom: 62px;

  @include get-font-style(500, 12px, 2.7, 0);

  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 31px,
    #e1e1e1 31px,
    #e1e1e1 32px
  );

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -13px;
    left: -12px;
    display: inline-block;

    width: 54px;
    height: 40px;

    background-image: url(../images/review/quote.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/review/quote@2x.png);
    }

    // Tablet
    @media screen and (min-width: 768px) and (max-width: 1199.5px) {
      top: -17px;
      left: -44px;

      width: 60px;
      height: 40px;

      background-image: url(../images/review/quote-tab.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/review/quote-tab@2x.png);
      }
    }

    // PC
    @media screen and (min-width: 1200px) {
      top: -15px;
      left: -37px;
    }
  }

  // Tablet
  @media screen and (min-width: 768px) {
    margin-bottom: 68px;

    @include get-font-style(500, 14px, 2.3, 0.04em);
  }

  // PC
  @media screen and (min-width: 1200px) {
    margin-bottom: 75px;

    @include get-font-style(500, 16px, 2, 0.04em);
  }
}

.customer-reviews__location {
  margin-bottom: 16px;

  @include get-font-style(500, 14px, 1.86, 0);

  &::before {
    content: '';
    position: absolute;
    bottom: 41px;
    left: 50%;
    z-index: 2;

    width: 32px;
    height: 4px;

    background-image: url(../images/review/circle.svg);
    transform: translateX(-50%);
  }

  // Tablet
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;

    @include get-font-style(500, 16px, 1.86, 0);
  }

  // PC
  @media screen and (min-width: 1200px) {
    @include get-font-style(500, 20px, 1.86, 0);
  }
}

// Slider
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;

  font-family: 'slick';
  font-size: 14px;
  line-height: 20px;

  width: 12px;
  height: 12px;
  content: '•';
  text-align: center;
  opacity: 1;
  color: #d9d9d9;
}

.slick-dots li.slick-active button:before {
  top: 2px;

  background-image: url(../images/review/home.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}
