// Customer reviews list
.customer-reviews__wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;

  width: 85px;
  height: 85px;

  border-radius: 50%;
  overflow: hidden;
}

.customer-reviews__group {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  max-width: 157px;

  text-align: center;
}

.customer-reviews__feedback {
  margin-bottom: 62px;

  @include get-font-style(normal, 500, 12px, 2.7, 0);

  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 31px,
    #e1e1e1 31px,
    #e1e1e1 32px
  );

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -13px;
    left: -12px;
    display: inline-block;

    width: 54px;
    height: 40px;

    background-image: url(../images/review/quote.png);
    background-repeat: no-repeat;
  }
}

.customer-reviews__location {
  margin-bottom: 16px;

  @include get-font-style(normal, 500, 14px, 1.86, 0);

  &::before {
    content: '';
    position: absolute;
    bottom: 41px;
    left: 50%;
    z-index: 2;

    width: 32px;
    height: 4px;

    background-image: url(../images/review/circle.svg);
    transform: translateX(-50%);
  }
}

// Slider
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left:0;

  font-family: 'slick';
  font-size: 14px;
  line-height: 20px;

  width: 12px;
  height: 12px;
  content: '•';
  text-align: center;
  opacity: 1;
  color: #D9D9D9;
}

.slick-dots li.slick-active button:before {
  top: 2px;

  background-image: url(../images/review/home.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}