.gallery{
    height: 100%;
    width: 100%;
    // padding-top: 60px;

    @media screen and(max-width: 767.5px) {
        background-image: linear-gradient(to bottom,
                var(--bg-light_cl) 35%,
                var(--white_cl) 35%,
                var(--white_cl) 100%);
    }
        
    @media screen and(min-width: 768px) and (max-width: 1199.5px) {
        background-image: linear-gradient(to bottom,
                var(--bg-light_cl) 56%,
                var(--white_cl) 56%,
                var(--white_cl) 100%);
    }
        
    @media screen and(min-width: 1200px) {
        background-image: linear-gradient(to bottom,
                var(--bg-light_cl) 30%,
                var(--white_cl) 30%,
                var(--white_cl) 100%);
    }

    &__grid {

        display: grid;
        align-items: center;
        justify-content: center;
        
        @media screen and(max-width: 767.5px) {
            grid-gap: 2px;
            grid: repeat(30, 2.028px) / repeat(70, 2.02px);
        }

        @media screen and(min-width: 768px) and (max-width: 1199.5px) {
            grid-gap: 5px;
            grid: repeat(30, 5.128px) / repeat(70, 5.12px);
        }
        @media screen and(min-width: 1200px) {
            grid-gap: 8px;
            grid: repeat(30, 6.6px) / repeat(70, 6.6px);
        }
    }
}

.gallery__photo {
    cursor: pointer;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);

    border-radius: 20px;
    @media screen and(max-width: 767.5px){
        border-radius: 8px;
    }

    &:nth-child(1) {
        grid-area: 11 / 1 / span 10 / span 10;
    }
    &:nth-child(2) {
        grid-area: 7 / 11 / span 10 / span 10;
    }
    &:nth-child(3) {
        grid-area: 17 / 11 / span 10 / span 10;
    }
    &:nth-child(4) {
        grid-area: 1 / 21 / span 20 / span 20;
    }
    &:nth-child(5) {
        grid-area: 21 / 21 / span 10 / span 10;
    }
    &:nth-child(6) {
        grid-area: 8 / 41 / span 10 / span 10;
    }
    &:nth-child(7) {
        grid-area: 18 / 41 / span 10 / span 10;
    }
    &:nth-child(8) {
        grid-area: 6 / 51 / span 10 / span 10;
    }
    &:nth-child(9) {
        grid-area: 16 / 51 / span 10 / span 10;
    }
    &:nth-child(10) {
        grid-area: 12 / 61 / span 10 / span 10;
    }

    &:hover,
    &:focus{
        transform: scale(1.4) rotateY(180deg);
    }
}
