// зупиняєм прокрутку якщо відкрито меню (JS)
.off_overflow{
	@media screen and (max-width: 1199px){
		overflow: hidden;
	}
}

// --------------Блок Header--------------//
.page-header {
	padding: 8px 0;
	@media screen and (min-width:768px) {
		padding-top: 32px;
	}
	@media screen and (min-width: 1200px) {
		padding-top: 32px;
		padding-bottom: 0;
		display: flex;
	}
	position: relative;
}
.page-heading{
	color: var(--white_cl);
	font-family: $secondary-font;
	font-size: 26px;
	line-height: 30px;
	letter-spacing: 0.04em;
	margin-top: 52px;
	position: relative;
	z-index: 4;
	@media screen and (min-width:768px) {
		font-size: 22px;
		line-height: 25px;
	}

	@media screen and (min-width: 1200px) {
		font-size: 38px;
		line-height: 44px;
	}
}
.page-heading__sub-text{
	color: var(--accent_cl);
	font-size: 58px;
	line-height: 90.5%;
}
// --------------кнопка перемикання мобільного меню--------------//
.page-header__menu-toggler {
	z-index: 6;
	border: none;
	background-color: transparent;
	cursor: pointer;
	position: absolute;
	top: 33px;
	right: 6px;
	@media screen and (min-width:768px) {
		top: 53px;
		right: 198px;
		&.is-open{
			top: 26px;
			right: 16px;
		}
	}

	@media screen and (min-width: 1200px) {
		display: none;
	}
}

.page-header__menu-toggler .page-header__icon-open {
	opacity: 1;
	position: absolute;
	top: -6px;
	right: -6px;
	transition: opacity $animation-func;
}


.page-header__menu-toggler .page-header__icon-close {
	opacity: 0;
	position: absolute;
	top: -6px;
	right: -6px;
	transition: opacity $animation-func;
}

.page-header__menu-toggler.is-open .page-header__icon-open {
	opacity: 0;
}

.page-header__menu-toggler.is-open .page-header__icon-close {
	opacity: 1;
}

// --------------клас-модифікатор для кнопки в header--------------//
.page-header__icon--ml{
	margin-left: 27px;
	@media screen and (min-width:768px){
		.menu-container.is-closed & {
			margin-left: 13px;
		}
	}
	@media screen and (min-width:1200px){
		margin-left: 13px;
	}
}

// --------------контейнер мобільного меню--------------//
.menu-container {
	@media screen and (max-width:1199px) {
		z-index: 5;
		position: absolute;
		height: 100vh;
		top: 0;
		right: 0;
		background-color: var(--mobile-menu-bg);
		padding: 60px 0;
		transform: translateX(20px);
		transition: transform $animation-func, background-color $animation-func;
	}
	@media screen and (min-width:1200px) {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		margin-left: auto;
	}
	&.is-closed {
		@media screen and (max-width:1199px) {
			transform: translateX(calc(100% + 20px));
			transition: transform $animation-func, background-color $animation-func;
			background-color: transparent;
			& .navigation{
				opacity: 0;
			}
		}
	}
}

//--------------Блок навігації--------------//
.navigation {
	opacity: 1;
	transition: opacity $animation-func;
	@media screen and (max-width:1199px) {
		margin-top: 19px;
	}
	@media screen and (min-width:1200px) {
		& ul{
			display: flex;
		}
		position: relative;
		z-index: 2;
	}
}

.navigation__link {
	padding: 12px 18px;
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	color: var(--white_cl);
	transition: color $animation-func;
	@media screen and (max-width:1199px) {
		border: 1px solid #E18298;
		display: block;
		padding-left: 20px;
	}
	@media screen and (min-width:1200px) {
		font-size: 16px;
		line-height: 21px;
	}
	&:hover {
		color: var(--accent_cl);
	}
}
// --------------Кнопка купити в меню--------------
.page-header__button-buy {
	border: none;
	border-radius: 22px;
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
	margin: 0 20px;
	padding: 12px 48px 12px 61px;
	color: var(--accent_cl);
	transform: translate(0);
	
	@media screen and (min-width:768px) and (max-width:1199px) {
		margin: 0 34px;
		padding: 12px 43px;
		.menu-container.is-closed &{
			transition: transform $animation-func;
			transform: translate(-226px, -28px);
			padding: 12px 37px;
		}
	}
	@media screen and (min-width: 1200px) {
		margin:0 0 0 123;
		padding: 11px 37px;
		font-size: 16px;
		line-height: 21px;
		transform: translate(0);
	}
}
//-------------- Секція Hero --------------//
.hero {
	background-color: var(--product-one_cl);
	position: relative;
	height: 502px;
	&::after {
		content: "";
		border-radius: 50%;
		background-color: var(--accent-light_cl);
		position: absolute;
		top: 83px;
		right: -62px;
		width: 346px;
		height: 344px;
	}
	@media screen and (min-width:768px) {
		height: 416px;
		&::after{
			top: 43px;
			right: 185px;
			width: 335px;
			height: 333px;
		}
	}

	@media screen and (min-width:1200px) {
		height: 664px;
		&::after {
			top: 54px;
			right: 149px;
			width: 534px;
			height: 534px;
		}
	}
}

//--------------Стилі картинок--------------//
.hero__icecream-img{
	display: block;
	width: 171px;
	position: absolute;
	bottom: 0;
	right: 32px;
	z-index: 1;
	@media screen and (min-width:768px){
		width: 143px;
		right: 303px;
	}
	@media screen and (min-width:1200px) {
		width: 236px;
		bottom: 1px;
		right: 328px;
	}
}
.hero__description{
	@media screen and (max-width:1199px){
		display: none;
	}
	position: absolute;
	left: 32px;
	right: 16px;
	@media screen and (min-width:1200px) {
		bottom: 60px;
		left: 16px;
	}
}
.hero__description-img{
	display: block;
	width: 152px;
	@media screen and (min-width:1200px) {
		width: 213px;
	}
}
.hero__girl-img{
	@media screen and (max-width:1199px) {
		display: none;
	}
	display: block;
	width: 190px;
	position: absolute;
	bottom: 1px;
	right: 32px;
	@media screen and (min-width:1200px) {
		width: 304px;
		bottom: 0;
		right: 16px;
		z-index: 2;
	}
}
.hero__info{
	@media screen and (max-width:1199px) {
		display: none;
	}
}
.hero__container{
	position: relative;
	z-index: 3;
	display: inline-block;
	margin-top: 20px;
	@media screen and (min-width:1200px) {
		margin-top: 24px;
	}
}
.hero__link{
	border: none;
	background-color: var(--white_cl);
	border-radius: 22px;
	font-size: 14px;
	line-height: 18.23px;
	padding: 9px 14px;
	color: var(--accent_cl);
	display: inline-block;
}
.hero__link--dark{
	background-color: var(--accent_cl);
	color: var(--white_cl);
}